<!DOCTYPE html>
<html lang="tr">

<head>
    <title>Web Programlama - JS</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app" class="appDiv">
        <label for="txtGirdi">Değer giriniz</label>
        <input type="text" id="txtGirdi" name="girdi" v-model.trim="girilenDeger" />

        <!-- <button id="btnEkle" onclick="listeyeEkle()">Ekle</button> -->
        <button id="btnEkle" v-on:click="listeyeEkle">Ekle</button>
        <p v-if="notlar.length == 0">Görüntülenecek Eleman Yok...</p>
        <ul v-else>
            <li v-for="(not, ind) in notlar" v-on:click="sil(ind)" v-bind:id="ind">{{ not }}
                <!-- v-on: -> @click -->
                <input type="text" @click.stop> 
            </li>
        </ul>
        <label>{{ girilenDeger }}</label>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"> </script>
</body>

</html>